// ## SMACSSクラス命名規則
// # Base – リセットCSSなど、サイト全体のスタイルを定義
// # Layout – 位置に関する指定、頭に「l-」をつける
// # Module – 再利用可能なパーツ、子要素の頭には親要素の名前をつける
// # State – LayoutやModuleが変化した状態、頭に「is-」をつける
// # Theme – 色などの見た目に関する指定、頭に「theme-」もしくは「t-」をつける
.t-fs10 {
  font-size: 10px;
}

.t-c-blk {
  color: #515151;
}

.t-fs26 {
  font-size: 26px;
}
$c_blue: ;

.tc-bgc-blue {
  background-color: #6cc6c4;
}

// --------------------------------------------------------

#head {
  height: 10px;
}

.image {
  width: 260px;
  height: 45px;
}

#square {
  width: 222;
  text-height: 30px;
  height: 30px;
}